<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=./mfsim/?lat_a=4&lat_b=4&lat_c=4&lat_alpha=90&lat_beta=90&lat_gamma=90&align_h1=1&align_k1=0&align_l1=0&align_h2=0&align_k2=0&align_l2=1&plot_h1=1&plot_k1=0&plot_l1=0&plot_h2=0&plot_k2=0&plot_l2=1&ei_list=5.20%2C5.20%2C5.70&A3_start_list=30.00%2C61.25%2C60.00&A3_end_list=90.00%2C91.25%2C150.00&A4_start_list=70.00%2C71.25%2C71.25&A4_end_list=70.00%2C71.25%2C71.25&NP_list=25%2C13%2C37&submitted=Ja&horizontal_magnet=HM-2&hm_h=1&hm_k=0&hm_l=0&hm_ssr=0&space_group=Fm-3m%3B225">
    <title>Redirect</title>
</head>
<body>
<h3>Redirecting you to demo page...</h3>
</body>
</html>
