<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=./mfsim/?lat_a=4&lat_b=4&lat_c=4&lat_alpha=90&lat_beta=90&lat_gamma=90&align_h1=1&align_k1=0&align_l1=0&align_h2=0&align_k2=0&align_l2=1&plot_h1=1&plot_k1=0&plot_l1=0&plot_h2=0&plot_k2=0&plot_l2=1&ei_list=5.2%2C5.2%2C5.2%2C5.7&A3_start_list=30%2C120%2C60%2C60&A3_end_list=90%2C150%2C90%2C90&A4_start_list=70%2C80%2C71.25%2C71.25&A4_end_list=70%2C80%2C71.25%2C71.25&NP_list=61%2C31%2C31%2C31&submitted=Ja">
    <title>Redirect</title>
</head>
<body>
Redirecting you to main page...
</body>
</html>
