<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>MultiFLEXX Q-space coverage simulator</title>
    <link rel="stylesheet" href="{% static 'css/mfsim.css' %}">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        {{css_resources|safe}}
        {{js_resources|safe}}
    <script src="{% static 'js/jquery.jeditable.mini.js' %}"></script>
</head>

<div id='root' class='bigbox'>
    <h3 id='welcome' class='section_head'>V2 MultiFLEXX Q-space coverage simulator</h3>
    <div id='figure' class='graphic'>
        {%if submitted%}
        {{graph_div|safe}}
        {{graph_script|safe}}
        <!--<table>-->
        <!--{%for key, value in scan_data.items %}-->
            <!--<tr>-->
                <!--<td>{{key}}</td><td>{{value}}</td>-->
            <!--</tr>-->
        <!--{%endfor%}-->
        <!--</table>-->
        {% else %}
        Figures should appear here.
        {%endif%}
    </div>
    <div id='div_inputs'>
        <h3 id='scans_header' class='section_head'>Scans (Click to edit, enter key to save.)</h3>
        <div id='scans_table' class='scans_table graphic'>
            <table>
                <thead>
                    <tr>
                        <th>Ei(meV)</th><th colspan="3">A3 range</th><th colspan="3">A4 range</th><th>Points</th><th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {%for item in scan_rows%}
                    <tr class='scans_row'>
                        <td class='ei editable'>{{item.ei}}</td>
                        <td class="A3_start editable">{{item.A3_start}}</td><td>to</td><td class="A3_end editable">{{item.A3_end}}</td>
                        <td class="A4_start editable">{{item.A4_start}}</td><td>to</td><td class="A4_end editable">{{item.A4_end}}</td>
                        <td class="NP editable">{{item.NP}}</td>
                        <td>
                            <button type='button' class='remove_button action_button'>remove</button>
                            <button type="button" class="clone_button action_button">clone</button>
                        </td>
                    </tr>
                    {%endfor%}
                    <tr id='row_add_button'>
                        <td><input type='text' name='ei' class='scan_entry'></td>
                        <td><input type='text' name='A3_start' class='scan_entry'></td>
                        <td>to</td>
                        <td><input type='text' name='A3_end' class='scan_entry'></td>
                        <td><input type='text' name='A4_start' class='scan_entry'></td><td>to</td>
                        <td><input type='text' name='A4_end' class='scan_entry'></td>
                        <td><input type="text" name="NP" class="scan_entry"></td>
                        <td><button type='button' class='add_button action_button' id='add_button'>add</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan=8 style="text-align:center;"><button type='submit' form="entry" id='submit_button' style="width: 15em; height: 2em">Submit</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id='scan_error_box' class='error_box'>
        One or more inputs contain non-numeric or impossible values.
        </div>
        <h3 class='section_head'>Sample and alignment</h3>
        <div id='sample_info' class='scans_table graphic'>
            <form id="entry" action=".">
                <table>
                    <thead>
                    <tr>
                        <td>Name</td><td colspan=6>data</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lattice</td>
                        <td>a:<input type='text' class='sample_entry' name='lat_a' value="{{scan_data.lat_a}}"></td>
                        <td>b:<input type='text' class='sample_entry' name='lat_b' value="{{scan_data.lat_b}}"></td>
                        <td>c:<input type='text' class='sample_entry' name='lat_c' value="{{scan_data.lat_c}}"></td>
                        <td>&alpha;:<input type='text' class='sample_entry' name='lat_alpha' value="{{scan_data.lat_alpha}}"></td>
                        <td>&beta;:<input type='text' class='sample_entry' name='lat_beta' value="{{scan_data.lat_beta}}"></td>
                        <td>&gamma;:<input type='text' class='sample_entry' name='lat_gamma' value="{{scan_data.lat_gamma}}"></td>
                    </tr>
                    <tr>
                        <td>Alignment</td>
                        <td>h1:<input type='text' class='sample_entry' name='align_h1' value="{{scan_data.align_h1}}"></td>
                        <td>k1:<input type='text' class='sample_entry' name='align_k1' value="{{scan_data.align_k1}}"></td>
                        <td>l1:<input type='text' class='sample_entry' name='align_l1' value="{{scan_data.align_l1}}"></td>
                        <td>h2:<input type='text' class='sample_entry' name='align_h2' value="{{scan_data.align_h2}}"></td>
                        <td>k2:<input type='text' class='sample_entry' name='align_k2' value="{{scan_data.align_k2}}"></td>
                        <td>l2:<input type='text' class='sample_entry' name='align_l2' value="{{scan_data.align_l2}}"></td>
                    </tr>
                    <tr>
                        <td>Plotting</td>
                        <td>h1:<input type='text' class='sample_entry' name='plot_h1' value="{{scan_data.plot_h1}}"></td>
                        <td>k1:<input type='text' class='sample_entry' name='plot_k1' value="{{scan_data.plot_k1}}"></td>
                        <td>l1:<input type='text' class='sample_entry' name='plot_l1' value="{{scan_data.plot_l1}}"></td>
                        <td>h2:<input type='text' class='sample_entry' name='plot_h2' value="{{scan_data.plot_h2}}"></td>
                        <td>k2:<input type='text' class='sample_entry' name='plot_k2' value="{{scan_data.plot_k2}}"></td>
                        <td>l2:<input type='text' class='sample_entry' name='plot_l2' value="{{scan_data.plot_l2}}"></td>
                    </tr>
                    </tbody>
                </table>
                <div id="hidden_inputs" class="hidden_inputs" style="display:none">
                    <input type="text" id="ei_list" name="ei_list">
                    <input type="text" id="A3_start_list" name="A3_start_list">
                    <input type="text" id="A3_end_list" name="A3_end_list">
                    <input type="text" id="A4_start_list" name="A4_start_list">
                    <input type="text" id="A4_end_list" name="A4_end_list">
                    <input type="text" id="NP_list" name="NP_list">
                    <input type="text" id="submitted" name="submitted" value="Ja">
                </div>
            </form>
        </div>


    </div>
    <p>Also, if you are from the EU, this site doesn't use cookies to store anything(I think).
    </p>
</div>

</html>
<script>
    var is_invalid = function is_invalid(value, name) {
        if (isNaN(value)) {
            return true;
        } else if (name.slice(0, 2) === 'A4' && (value > 110 || value < 60)) {
            return true;
        } else if (name === 'ei' && value < 3) {
            return true;
        } else {
            return false;
        }

    }

    var remove_buttonfun = function remove_buttonfun(event) {
        $(event.target).closest('tr').remove();
    }
    var add_buttonfun = function add_buttonfun(event) {
        var entries = ['ei', 'A3_start', 'A3_end', 'A4_start', 'A4_end', 'NP'];
        var values = {};
        var node = $(event.target).closest('tr');

        var has_invalid = false
        for (name of entries) {
            var value = $(`input[name=${name}]`).val();
            has_invalid = has_invalid || is_invalid(value, name) || value === '';
            values[name] = value;

        }
        if (!has_invalid) {
            node.before(`<tr class='scans_row'><td class='ei editable'>${values.ei.toString()}</td>
            <td class='A3_start editable'>${values.A3_start.toString()}</td><td>to</td><td class="A3_end editable">${values.A3_end.toString()}</td>
            <td class='A4_start editable'>${values.A4_start.toString()}</td><td>to</td><td class="A4_end editable">${values.A4_end.toString()}</td>
            <td class='NP editable'>${values.NP.toString()}</td>
            <td>
                <button type='button', class='remove_button action_button'>remove</button>
                <button type='button', class='clone_button action_button'>clone</button>
            </td></tr>`);
            associate_buttons();
            $('#scan_error_box').hide();
            $('.editable').editable(function(value, settings) {return(value);})
        } else {
            $('#scan_error_box').show();
        }
    }

    var clone_buttonfun = function clone_buttonfun(event) {
        var node = $(event.target).closest('tr');
        var clone = node.clone();
        console.log("firing");
        node.after(clone);
        associate_buttons();
    }

    var update_list = function update_list(name) {
        var doms = $(`.${name}`);
        var data_entries = [];
        for (dom of doms) {
            data_entries.push(dom.textContent);
        }
        var hidden_name = name + '_list';
        var hidden_entry = $(`#${hidden_name}`);
        var hidden_value = '';
        for (value of data_entries) {
            hidden_value = hidden_value + value + ','
        }
        hidden_entry.val(hidden_value.slice(0, -1));
    }

    var update_lists = function update_lists() {
        var entries = ['ei', 'A3_start', 'A3_end', 'A4_start', 'A4_end', 'NP'];
        for (entry of entries) {
            update_list(entry);
        }
    }

    var scan_field_key = function(event){
        if (event.keyCode === 13){
            $('#add_button').trigger('click');
        }
    }

    var associate_buttons = function associate_buttons(){
        var remove_button = $('.remove_button');
        var scan_fields = $('.scan_entry');
        scan_fields.keypress(scan_field_key);
        remove_button.click(remove_buttonfun);
    }


    var add_button = $('#add_button');
    add_button.click(add_buttonfun);
    <!--var scan_fields = $('.scan_entry');-->
    <!--scan_fields.keypress(scan_field_key);-->
    <!--var remove_button = $('.remove_button');-->
    <!--remove_button.click(remove_buttonfun);-->

    associate_buttons();
    $('#div_inputs').on('click', '.clone_button', clone_buttonfun);

    $('#entry').submit(function(event){
        update_lists();
        var sample_valid = true;
        if ($('.scans_row').length === 0) {
            alert('At least one scan is required.');
            sample_valid = false;}
        if (!sample_valid) {
            event.preventDefault();
        }
    })
    $('#scan_error_box').hide();
    $('.editable').editable(function(value, settings) {return(value);})

</script>