<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Temperature log</title>
    <link rel="stylesheet" href="{% static 'css/mfsim.css' %}">
</head>
<body>
<h3 class="section_head">Sensor log</h3>
<div style="width:100%;">
<table>
    <tr>
        <td>Retrieved: {{time}}</td>
    </tr>
    <tr>
        <td> <img src="{% static 'rrdgraph\\12h.png' %}"> </td>
    </tr>
    <tr>
        <td> <img src="{% static 'rrdgraph\\48h.png' %}"> </td>
    </tr>
    <tr>
        <td> <img src="{% static 'rrdgraph\\1w.png' %}"> </td>
    </tr>
</table>
</div>
</body>
</html>